<!DOCTYPE html>
<html>
    <body>
        <h1>
            Babaya REST API server
        </h1>
        <h3>
            This is an amazing server
        </h3>
        <pre>
            /users
            get / -> returns all users
            get /allUsersDetails -> all users + details
            post /register -> return object with user and token
            MUST:
                email
                password
                phoneNumber
                languageID
                firstNameEng
                lastNameEng
            post /login -> returns token
            MUST:
                email
                password
            get /logout -> logs out user
            post /updateProfile -> updates user profile
                update params
                *user must be logged in
            get /:userId -> returns user details
            post /:userId/addGroup -> adds group to user and user to group. returns user
            MUST:
                groupId
                *user must be logged in
            post /resetPassword -> send password reset email
            MUST:
                email
        </pre>
        <pre>
            /groups
            get / -> returns all groups
            get /:groupId -> returns group details
            post /:groupId -> updates group
            MUST:
                update params
            post /create -> creates a new group. returns group
            MUST:
                name
                description
                createUser
                publicity
            
        </pre>
    </body>
</html>