<!DOCTYPE html>
<html>
    <body>
        <h1>
            Babaya REST API server
        </h1>
        <h3>
            This is an amazing server
        </h3>
        <pre>
            /users
            get / -> object with all users(firebase auth)
            get /allUsersDetails -> object with all users + details
            post /register -> return object with user, token
            MUST:
                email
                password
                phoneNumber
                languageID
                firstNameEng
                lastNameEng
            post /login -> returns token
            MUST:
                email
                password
            get /logout -> Boolean
            post /updateProfile -> Boolean
                update params
                *user must be logged in
            get /:userId -> object with user details
            post /:userId/addGroup -> object with user, group
            MUST:
                groupId
                *user must be logged in
            post /resetPassword -> Boolean
            MUST:
                email
        </pre>
        <pre>
            /groups
            get / -> object with all groups
            get /:groupId -> object with group details
            post /:groupId -> Boolean
            MUST:
                update params
            post /create -> object with group
            MUST:
                name
                description
                createUser
                publicity
            
        </pre>
    </body>
</html>